# Assignment 2

**Generative AI rule:** For this assignment, you are allowed to use generative AI tools for assistance, but the code must be your original work—any code that is not your own will be considered cheating.

## Data

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. The data was taken from Kaggle. The `athlete_events` Dataset contains $271,116$ rows and $15$ columns.

**Important note**: Athletes with the same name might not be the same individuals. To accurately distinguish them, make sure to use their unique IDs.

**ATTRIBUTES:**

**athlete_events.csv**

| Column Name | Data Type | Description/Notes |
|:----:|:----:|:----|
| ID |  integer | Unique number for each athlete |
| Name | string | Athlete’s name |
| Sex | string | M or F |
| Age | integer |  |
| Height | integer | In centimeters |
| Weight | integer | In kilograms |
| Team | string | Team name |
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Games | string | Year and season |
| Year | integer |  |
| Season | string | Summer or Winter |
| City | string | Host city |
| Sport | string |  |
| Event | string |  |
| Medal | string | Gold, Silver, Bronze, or NA |

**Source:** Griffin, R, H (2018) 120 years of Olympic history: athletes and results, athlete_events, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#athlete_events.csv

Download athlete_events.csv from the link above and load it into a DataFrame called `athlete_events`:

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("heesoo37/120-years-of-olympic-history-athletes-and-results")

print("Path to dataset files:", path)

Using Colab cache for faster access to the '120-years-of-olympic-history-athletes-and-results' dataset.
Path to dataset files: /kaggle/input/120-years-of-olympic-history-athletes-and-results

In [3]:
import kagglehub
import pandas as pd

# Download dataset
path = kagglehub.dataset_download("heesoo37/120-years-of-olympic-history-athletes-and-results")

# File path to athlete_events.csv
csv_path = f"{path}/athlete_events.csv"

# Load into DataFrame
athlete_events = pd.read_csv(csv_path)

# ✅ Now explore
print("Shape:", athlete_events.shape)   # Rows, Columns
print("\n--- Info ---")
print(athlete_events.info())

print("\n--- Describe ---")
print(athlete_events.describe())

print("\nMissing values per column:")
print(athlete_events.isnull().sum())

Using Colab cache for faster access to the '120-years-of-olympic-history-athletes-and-results' dataset.
Shape: (271116, 15)

--- Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

--- Describe ---
                  ID            Age         Height         Weight  \
count  271116.000000  261642.000000  210945.000000  208241.000000
mean    68248.954396      25.556898     175.338970      70.702393
std     39022.286345       6.393561      10.518462      14.348020
min         1.000000      10.000000     127.000000      25.000000
25%     34643.000000      21.000000     168.000000      60.000000
50%     68205.000000      24.000000     175.000000      70.000000
75%    102097.250000      28.000000     183.000000      79.000000
max    135571.000000      97.000000     226.000000     214.000000

                Year
count  271116.000000
mean     1978.378480
std        29.877632
min      1896.000000
25%      1960.000000
50%      1988.000000
75%      2002.000000
max      2016.000000

Missing values per column:
ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

Use `info()` method on this DataFrame to get a sense of the data:

In [4]:
# Your code goes here
# Use info() to get a concise summary of the dataset
athlete_events.info()

print("\n--- Key Insights ---")

# Count missing values per column
missing = athlete_events.isnull().sum()

# Show columns with at least one missing value
print("Columns with missing values:")
print(missing[missing > 0])

# Show data types of all columns
print("\nData types of columns:")
print(athlete_events.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

--- Key Insights ---
Columns with missing values:
Age         9474
Height     60171
Weight     62875
Medal     231333
dtype: int64

Data types of columns:
ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

## Question 1

Identify athletes who meet all of the following criteria:

- They are male (Sex is "M").
- Their age is below 25.
- They have participated in the Summer Olympics.
- They have won a medal.

Once you have filtered the athletes based on the above criteria, calculate the average height and weight of these athletes.

In [5]:
# Your code goes here
# Filter athletes by the given criteria
filtered_athletes = athlete_events[
    (athlete_events["Sex"] == "M") &
    (athlete_events["Age"] < 25) &
    (athlete_events["Season"] == "Summer") &
    (athlete_events["Medal"].notna())
]

# Calculate average height and weight
avg_height = filtered_athletes["Height"].mean()
avg_weight = filtered_athletes["Weight"].mean()

print("Number of athletes meeting criteria:", len(filtered_athletes))
print(f"Average Height: {avg_height:.2f} cm")
print(f"Average Weight: {avg_weight:.2f} kg")

Number of athletes meeting criteria: 10558
Average Height: 181.07 cm
Average Weight: 77.58 kg

## Question 2

Using the dataset, group the athletes by "Team" and calculate the following for each team:

- Which team has the maximum number of atheletes?
- Which team has competed in the highest number of distinct sports?

In [6]:
# Your code goes here
# 1. Number of unique athletes per team
team_athletes = athlete_events.groupby("Team")["ID"].nunique()

# Find team with maximum athletes
max_athletes_team = team_athletes.idxmax()
max_athletes_count = team_athletes.max()

print(f"Team with maximum athletes: {max_athletes_team} ({max_athletes_count} athletes)")

# 2. Number of distinct sports per team
team_sports = athlete_events.groupby("Team")["Sport"].nunique()

# Find team with highest number of distinct sports
max_sports_team = team_sports.idxmax()
max_sports_count = team_sports.max()

print(f"Team with highest number of distinct sports: {max_sports_team} ({max_sports_count} sports)")

Team with maximum athletes: United States (9115 athletes)
Team with highest number of distinct sports: Great Britain (56 sports)

## Question 3

**True or False?**

> The average height of athletes who won a medal in Speed Skating is greater than the average height of athletes who won a medal in Basketball.

Write code to determine if this statement is True or False.

In [7]:
# Your code goes here
# Filter only medal winners
medal_winners = athlete_events[athlete_events["Medal"].notna()]

# Average height of medal winners in Speed Skating
avg_height_speed_skating = medal_winners[medal_winners["Sport"] == "Speed Skating"]["Height"].mean()

# Average height of medal winners in Basketball
avg_height_basketball = medal_winners[medal_winners["Sport"] == "Basketball"]["Height"].mean()

# Compare and print result
result = avg_height_speed_skating > avg_height_basketball

print(f"Average height (Speed Skating): {avg_height_speed_skating:.2f} cm")
print(f"Average height (Basketball): {avg_height_basketball:.2f} cm")
print("Statement is", result)

Average height (Speed Skating): 175.18 cm
Average height (Basketball): 191.99 cm
Statement is False

## Question 4

Identify athletes who have participated in multiple Olympic events (more than one unique event). For these athletes:

- Calculate the sum of the total number of events they participated in altogether.
- Identify the athletes who have won at least two medals (any type of medal).  How many such atheletes are there?

In [8]:
# Your code goes here
# Group by athlete (ID + Name just for readability)
athlete_group = athlete_events.groupby(["ID", "Name"])

# 1. Count unique events per athlete
athlete_event_counts = athlete_group["Event"].nunique()

# Filter athletes who participated in more than one unique event
multi_event_athletes = athlete_event_counts[athlete_event_counts > 1]

# Sum of total number of events they participated in
total_events = multi_event_athletes.sum()

print("Total number of events participated in by multi-event athletes:", total_events)

# 2. Count medals per athlete (non-null Medal entries)
athlete_medal_counts = athlete_group["Medal"].apply(lambda x: x.notna().sum())

# Filter athletes with at least 2 medals
multi_medal_athletes = athlete_medal_counts[athlete_medal_counts >= 2]

print("Number of athletes with at least two medals:", len(multi_medal_athletes))

Total number of events participated in by multi-event athletes: 111304
Number of athletes with at least two medals: 6996

## Question 5

Identify all athletes who have won at least one medal and have participated in two or more different sports. For these athletes:

- Find the total number of different sports each of them participated in. Which athlete has the highest number of sports? And how many?
- Calculate the average number of medals won by these athletes. Which athlete has the maximum number of medals? And how many?

In [11]:
# Filter medal winners
medal_winners = athlete_events[athlete_events["Medal"].notna()]

# Group by athlete
athlete_group = medal_winners.groupby(["ID", "Name"])

# Count distinct sports
sports_per_athlete = athlete_group["Sport"].nunique()

# Count medals
medals_per_athlete = athlete_group["Medal"].count()

# Keep only athletes with >= 2 different sports
multi_sport_athletes = sports_per_athlete[sports_per_athlete >= 2]

# Join with medal counts
multi_sport_data = pd.DataFrame({
    "Sports_Count": multi_sport_athletes,
    "Medals_Count": medals_per_athlete.loc[multi_sport_athletes.index]
})

# Athlete with highest number of sports
max_sports_athlete = multi_sport_data["Sports_Count"].idxmax()
max_sports = multi_sport_data["Sports_Count"].max()

# Average medals among these athletes
avg_medals = multi_sport_data["Medals_Count"].mean()

# Athlete with maximum medals
max_medals_athlete = multi_sport_data["Medals_Count"].idxmax()
max_medals = multi_sport_data["Medals_Count"].max()

print("Athlete with highest number of sports:", max_sports_athlete, "-", max_sports, "sports")
print(f"Average number of medals among these athletes: {avg_medals:.2f}")
print("Athlete with maximum number of medals:", max_medals_athlete, "-", max_medals, "medals")

Athlete with highest number of sports: (np.int64(64683), 'Frank X. Kugler') - 3 sports
Average number of medals among these athletes: 2.92
Athlete with maximum number of medals: (np.int64(68647), 'Eric Otto Valdemar Lemming') - 7 medals

## Question 6

Identify the top 3 most common sports in which athletes have won a Gold medal. List the sports in descending order of frequency.

In [12]:
# Your code goes here
# Filter only gold medal winners
gold_winners = athlete_events[athlete_events["Medal"] == "Gold"]

# Count sports frequency
gold_sport_counts = gold_winners["Sport"].value_counts()

# Top 3 sports
top3_sports = gold_sport_counts.head(3)

print("Top 3 sports with most Gold medals:")
print(top3_sports)

Top 3 sports with most Gold medals:
Sport
Athletics    1339
Swimming     1099
Rowing        978
Name: count, dtype: int64

## Question 7

As part of a sponsorship deal, a company wants to endorse athletes who have a consistent performance in the Olympics. The company defines consistency for athletes who have participated more than one year and those who have won at least one medal in every year.

How many such athletes exist?

In [13]:
# Your code goes here
# Group athletes
athlete_group = athlete_events.groupby(["ID", "Name"])

consistent_athletes = []

for (ath_id, ath_name), group in athlete_group:
    years_participated = set(group["Year"].unique())
    years_with_medals = set(group.loc[group["Medal"].notna(), "Year"].unique())

    # Check conditions: multi-year AND medals in every year
    if len(years_participated) > 1 and years_participated == years_with_medals:
        consistent_athletes.append((ath_id, ath_name))

print("Number of consistent athletes:", len(consistent_athletes))

Number of consistent athletes: 3375

## Question 8

A sports analytics firm wants to identify athletes who have shown versatility by competing in both individual and team sports. The firm is particularly interested in those who have won at least one medal in both types of events.

Provide the total number of athletes who have won medals in both individual and team sports.

Note: The following is a list of all team sports to reference for this question:

```
['Basketball', 'Football', 'Tug-Of-War', 'Ice Hockey', 'Handball', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh', 'Sailing', 'Baseball', 'Softball',
'Rugby Sevens', 'Volleyball', 'Beach Volleyball', 'Synchronized Swimming' 'Curling', 'Lacrosse', 'Polo', 'Cricket', 'Military Ski Patrol', 'Croquet']
```

In [14]:
# Your code goes here
# List of team sports
team_sports = [
    'Basketball', 'Football', 'Tug-Of-War', 'Ice Hockey', 'Handball', 'Water Polo',
    'Hockey', 'Rowing', 'Bobsleigh', 'Sailing', 'Baseball', 'Softball',
    'Rugby Sevens', 'Volleyball', 'Beach Volleyball', 'Synchronized Swimming',
    'Curling', 'Lacrosse', 'Polo', 'Cricket', 'Military Ski Patrol', 'Croquet'
]

# Filter only medal winners
medal_winners = athlete_events[athlete_events["Medal"].notna()]

# Group by athlete
athlete_group = medal_winners.groupby(["ID", "Name"])

versatile_athletes = []

for (ath_id, ath_name), group in athlete_group:
    sports_played = set(group["Sport"].unique())

    # Check if athlete has at least one team sport medal
    team_medal = any(sport in team_sports for sport in group["Sport"])

    # Check if athlete has at least one individual sport medal
    individual_medal = any(sport not in team_sports for sport in group["Sport"])

    if team_medal and individual_medal:
        versatile_athletes.append((ath_id, ath_name))

print("Total number of versatile medal-winning athletes:", len(versatile_athletes))

Total number of versatile medal-winning athletes: 48

## Question 9

A sports health association is analyzing athletes' BMI to assess fitness, defining "fit" as those in the Normal weight category.

1. Create a **BMI** column using **Height** and **Weight**:  
$BMI=\frac{(Weight_{kg})}{Height_m^2}$

Fill missing Height and Weight values with average within the same Sex group and round BMI to 1 decimal place.

2. Count the number of "fit" athletes in the BMI range of 20-28 (inclusive).

Note: some athletes might have different weights and heights over the years. Take an average over all their measurements.

In [15]:
# Your code goes here
# 1. Fill missing Height/Weight by Sex group average
athlete_events["Height"] = athlete_events.groupby("Sex")["Height"].transform(
    lambda x: x.fillna(x.mean())
)
athlete_events["Weight"] = athlete_events.groupby("Sex")["Weight"].transform(
    lambda x: x.fillna(x.mean())
)

# 2. Compute BMI (Height in meters)
athlete_events["BMI"] = athlete_events["Weight"] / ((athlete_events["Height"] / 100) ** 2)

# Round BMI to 1 decimal place
athlete_events["BMI"] = athlete_events["BMI"].round(1)

# 3. Average BMI per athlete (ID, Name)
athlete_bmi = athlete_events.groupby(["ID", "Name"])["BMI"].mean()

# 4. Count athletes in "fit" BMI range (20–28 inclusive)
fit_athletes = athlete_bmi[(athlete_bmi >= 20) & (athlete_bmi <= 28)]

print("Number of 'fit' athletes (BMI 20–28):", len(fit_athletes))

Number of 'fit' athletes (BMI 20–28): 116936